{:deps {io.github.nextjournal/clerk {:mvn/version "0.14.919"}
        org.clj-commons/pretty {:mvn/version "2.0.1"}
        io.aviso/logging {:mvn/version "1.0"}
        io.github.hlship/trace {:mvn/version "v1.0"}
        nubank/matcher-combinators {:mvn/version "3.7.2"}
        org.clj-commons/humanize {:mvn/version "1.0"}
        criterium/criterium {:mvn/version "0.4.6"}}
 :paths ["src" "notebooks" "resources"]}
